.contact-section {
    padding: 0 15px 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
        content: "@";
        position: absolute;
        inset: 25% auto auto 15%;
        color: rgba(255, 255, 255, 0.14);
        transform: translate(-50%, -40%) rotate(-40deg);
        z-index: -1;
        font: 700 11rem $heading;
    }

    & h5 {
        font: 600 2rem $heading;
        color: $secondary-color;
        margin-bottom: 3%;
    }

    & form {
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(18px);
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.18);
        -webkit-backdrop-filter: blur(18px);
        width: 350px;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .TextBox__Div {
            width: 85%;
            display: flex;
            flex-direction: column;
            margin: 15px 0 5px;
        }
        & .TextBox__Div label {
            font: 1.1rem $title;
            letter-spacing: 1.2px;
            color: $secondary-hover;
            font-weight: 550;
            margin-bottom: 5px;
        }

        & .TextBox__Div input,
        & .TextBox__Div textarea {
            padding: 5px;
            height: 40px;
            font: 1rem $text;
            letter-spacing: 1.2px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            background-color: rgba(0, 0, 0, 0.18);
            border-radius: 5px;
            outline: none;
            color: #ffffffaf;
        }
        & .TextBox__Div textarea {
            height: 110px;
            resize: none;
            font-size: 1rem;
            scrollbar-width: 0;
        }
        & .TextBox__Div textarea::-webkit-scrollbar {
            width: 0;
        }
        & .Btn__Send {
            position: relative;
            margin: 10px auto;
            width: 50%;
            font-weight: 550;
            font-size: 1.1rem;
            padding: 8px 15px;
            font-family: Verdana, sans-serif;
            border: none;
            color: #ffffff;
            border-radius: 6px;
            cursor: pointer;
            background-color: #ffffff40;
            overflow: hidden;

            &::after {
                position: absolute;
                content: "";
                inset: 0;
                transform: translate(-85px, -50px) rotate(-45deg);
                background: linear-gradient(to bottom, #ffffff14, rgba(255, 255, 255, 0.25));
                transition: all 0.58s ease-in-out;
            }
            &:hover::after,
            &:active::after {
                position: absolute;
                content: "";
                inset: 0;
                transform: translate(85px, 50px) rotate(-45deg);
            }
        }
    }
    & .Social__Icons {
        height: 40px;
        width: 350px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & .fa-brands {
            padding-right: 15px;
            font-size: 1.2rem;
            cursor: pointer;
            color: #ffffff30;
            transition: all 350ms ease;
            &:hover {
                transform: scale(1.2);
                color: #ffffff;
                text-shadow: 0 0 8px $secondary-color;
            }
        }
    }
}
