*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// FONTS
$style: "Caveat", cursive;
$heading: "Montserrat", sans-serif;
$title: "Noto Serif", serif;
$text: "Poppins", sans-serif;

// LIGHT THEME
$light: #f1e9f9;
$light-50: rgba(255, 255, 255, 0.45);
$light-75: rgba(255, 255, 255, 0.95);

// DARK THEME
$dark: #302f32;
$dark-50: #272727a3;
$dark-75: #272727;

$secondary-color: #8547c2;
$accent-color: #c940b2;
$secondary-hover: #b894db;
$accent-hover: #ebb7e2;

:root {
    --primary-color: #{$light};
    --text-50: #{$dark-50};
    --text-75: #{$dark-75};
}

@mixin transition-ease {
    transition: all 350ms ease-in-out;
}
