.contact-section {
    // height: 100vh;
    padding: 0 15px 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
        content: "@";
        position: absolute;
        inset: 25% auto auto 15%;
        color: rgba(255, 255, 255, 0.14);
        transform: translate(-50%, -40%) rotate(-40deg);
        z-index: -1;
        font: 700 11rem $heading;
    }

    & h5 {
        font: 600 2rem $heading;
        color: $secondary-color;
        margin-bottom: 3%;
    }

    & form {
        display: flex;
        // width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* INPUT SECTION */
        .input-div {
            background-color: rgba(0, 0, 0, 0.35);
            // border: 1px solid var(--text-50);
            box-shadow: 1px 14px 20px #00000069;
            height: 50px;
            width: 265px;
            color: var(--text-50);
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            user-select: none;
            padding: 0 0.4rem 0 0.4rem;
            margin: 15px 0;
        }

        .txtbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            color: var(--text-75);
            padding-top: 10px;
            font-size: 1.2rem;
            font-family: $text;
            background: none;
        }

        .txt-label {
            --label-size: 1.1rem;
            font: 700 var(--label-size) $text;
            position: absolute;
            inset: 18px 0 0 9px;
            pointer-events: none;
            transition: all 450ms ease-in-out 250ms;
        }

        .bottom {
            position: absolute;
            inset: auto 0 0 0;
            height: 3px;
            background-color: #ffffff8a;
        }
        .bottom::after {
            content: "";
            position: absolute;
            inset: 0;
            transform: scale(0);
            transform-origin: center;
            background-color: #ff8400;
            transition: transform 450ms ease-in-out 350ms;
        }
        /* WHEN INPUT IS ON FOCUS OR INPUT HAS SOME TEXT */

        .txtbox:focus ~ .bottom::after,
        .txtbox:valid ~ .bottom::after {
            transform: scale(1);
        }
        .txtbox:focus + .txt-label,
        .txtbox:valid + .txt-label {
            color: #ff8400;
            font-size: calc(var(--label-size) - 0.4rem);
            font-size: calc(inherit - 6%);
            top: 3px;
        }

        .area {
            height: 250px;

            .txt-label {
                height: fit-content;
            }
            .txtbox {
                resize: none;
                scroll-behavior: smooth;
                scrollbar-width: 0;
                &::-webkit-scrollbar {
                    width: 0;
                }
            }
            .txtbox:focus,
            .txtbox:valid {
                padding-top: 20px;
            }
        }

        .btn {
            margin: 0.75rem 0;
            padding: 0.5rem;
            font: 700 1.3rem $heading;
            border: none;
            outline: none;
            border-radius: 7px;
            position: relative;
            z-index: 1;
            color: #ffffff;
            letter-spacing: 1.3px;
            width: 265px;
            cursor: pointer;
            background-color: transparent;
        }

        .send {
            background-color: $secondary-color;
            box-shadow: 4px 7px 11px rgba(255, 255, 255, 0.65) inset, 5px 8px 15px #0000004b;
        }
    }
    .social-icons {
        padding: 5% 3%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .fa-brands {
            padding: 0 3%;
            cursor: pointer;
            font-size: 1.3rem;

            &:hover {
                filter: drop-shadow(0 0 4px $secondary-hover);
            }
        }
    }
}
