@import "./CONFIG";
@import "./MENU_ICON";
@import "./HOME";
@import "./PORTFOLIO";
@import "./CONTACT";
@import "./PROJECT";
body {
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-75);
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}
.dark {
    --primary-color: #{$dark};
    --text-50: #{$light-50};
    --text-75: #{$light-75};
}

.top-bar {
    padding: 5% 7%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    align-self: flex-start;
    color: $accent-color;
    padding-left: 4px;
    font: 700 2rem $style;
}
a {
    align-self: flex-start;
    color: $light-50;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .nav-list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        transform: translateY(-100%);
        background-color: #333;
        list-style-type: none;
        @include transition-ease;

        &.open {
            transform: translateY(0);
        }

        .nav-item {
            transform: translateX(100vw);
            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            &.active > a {
                color: $accent-color;
            }

            .nav-link {
                display: inline-block;
                text-transform: uppercase;
                padding: 2rem 0;
                font: 550 2rem $title;
                letter-spacing: 1.2px;
                @include transition-ease;
            }

            &:not(.active) .nav-link:hover {
                color: rgba($light-50, 0.75);
            }
        }
    }
}

@for $i from 1 through 4 {
    .nav-list .nav-item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}
