@import "./CONFIG";
@import "./_MENU_ICON.scss";

body {
    background-color: $primary-color;
}

.top-bar {
    padding: 5% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo {
    color: $accent-color;
    font: 700 2rem $heading-font;
}
a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .nav-list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        transform: translateY(-100%);
        background-color: #333;
        list-style-type: none;
        @include transition-ease;

        &.open {
            transform: translateY(0);
        }

        .nav-item {
            transform: translateX(100vw);
            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            &.active > a {
                color: $accent-color;
            }

            .nav-link {
                display: inline-block;
                text-transform: uppercase;
                padding: 2rem 0;
                font: 550 2rem $title-font;
                letter-spacing: 1.2px;
                @include transition-ease;
            }

            &:not(.active) .nav-link:hover {
                color: $accent-hover;
            }
        }
    }
}

@for $i from 1 through 4 {
    .nav-list .nav-item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}

h6 {
    background-color: red;
}
