*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-50: #272727a3;
  --text-75: #272727;
}

/* MENU ICON DIV */
.menu-icon {
  width: 28px;
  height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2;
}

/* HAMBURGER */
.hamburger {
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: var(--text-50);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  /* HAMBURGER OPEN */
}

.hamburger::before, .hamburger::after {
  content: "";
  top: -8px;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--text-50);
}

.hamburger::after {
  top: 8px;
  width: 20px;
}

.hamburger.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: transparent;
}

.hamburger.open::before, .hamburger.open::after {
  background-color: #ffffff;
}

.hamburger.open::before {
  border-radius: 50%;
  -webkit-transform: rotate(45deg) translate(6px, 5px);
          transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open::after {
  border-radius: 50%;
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
          transform: rotate(-45deg) translate(6px, -5px);
}

section.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name {
  color: var(--text-75);
  font: italic 6rem "Caveat", cursive;
  letter-spacing: 1.2px;
}

.tag {
  color: var(--text-50);
  font: 700 1.3rem "Noto Serif", serif;
  font: italic 1.8rem "Oleo Script Swash Caps", cursive;
}

.home .details {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more {
  position: absolute;
  bottom: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more p {
  font-family: "Segoe UI", Verdana, sans-serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 0 0 4px 4px;
  -webkit-animation: topMotion 900ms linear infinite alternate forwards;
          animation: topMotion 900ms linear infinite alternate forwards;
}

.more.left-down {
  left: 0;
}

.more.right-down {
  right: 0;
}

@-webkit-keyframes topMotion {
  from {
    padding-bottom: 16px;
  }
  to {
    padding-bottom: 6px;
  }
}

@keyframes topMotion {
  from {
    padding-bottom: 16px;
  }
  to {
    padding-bottom: 6px;
  }
}

.portfolio {
  padding: 5% 15px;
  position: relative;
}

.about-me {
  margin-bottom: 8%;
}

.about-me h5 {
  font: 600 2rem "Montserrat", sans-serif;
  color: #c940b2;
  margin-bottom: 3%;
}

.about-me p {
  font: 1.1rem "Poppins", sans-serif;
  word-break: break-all;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills p {
  color: var(--text-50);
  text-align: center;
  font: 600 1.4rem "Noto Serif", serif;
}

.tagcloud {
  cursor: pointer;
  font-family: 640 1.2rem "Poppins", sans-serif;
  color: #8547c2;
}

.tagcloud--item:hover {
  color: #b894db;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages h5 {
  color: var(--text-50);
  font: 600 1.9rem "Noto Serif", serif;
}

.languages .wrap-languages {
  width: 100%;
  padding: 3% 8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages .wrap-languages .programs {
  margin-bottom: 17%;
}

.languages .wrap-languages .programs .lang-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 6px 12px #00000043;
          box-shadow: 4px 6px 12px #00000043;
  font: 600 1rem "Poppins", sans-serif;
  color: #b894db;
  margin-bottom: 10%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  z-index: 1;
}

.languages .wrap-languages .programs .lang-round:hover {
  color: #fff;
  text-shadow: 1px 1px 8px #8547c2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.languages .wrap-languages .programs .lang-round::after {
  content: "";
  inset: 0;
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  -webkit-box-shadow: 4px 5px 12px inset #ffffff43, 4px 5px 12px inset #ffffff43, -5px -8px 12px inset transparent, -5px -8px 12px inset transparent;
          box-shadow: 4px 5px 12px inset #ffffff43, 4px 5px 12px inset #ffffff43, -5px -8px 12px inset transparent, -5px -8px 12px inset transparent;
  z-index: -1;
}

.languages .wrap-languages .programs .lang-round:hover::after {
  -webkit-box-shadow: 4px 5px 12px inset #ffffff83, 4px 5px 12px inset #ffffff85, -5px -8px 12px inset transparent, -5px -8px 12px inset transparent;
          box-shadow: 4px 5px 12px inset #ffffff83, 4px 5px 12px inset #ffffff85, -5px -8px 12px inset transparent, -5px -8px 12px inset transparent;
}

.languages .wrap-languages .programs .progress-bar {
  height: 8px;
  width: 100%;
  border: 1px solid rgba(133, 71, 194, 0.24);
  border-radius: 25px;
  position: relative;
  padding: 0;
}

.languages .wrap-languages .programs .progress-bar span {
  border-radius: 8px;
  height: 100%;
  display: block;
  width: 0;
  background-color: #8547c2;
}

@media screen and (min-width: 595px) {
  .languages .wrap-languages .programs .lang-round {
    font-size: 1rem;
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .about-me p {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .about-me {
    position: relative;
  }
  .about-me p {
    width: 72%;
  }
  .about-me:after {
    position: absolute;
    content: "Me";
    font: 800 6rem "Caveat", cursive;
    inset: 0 0 0 87%;
    right: 0;
    color: rgba(255, 255, 255, 0.05);
  }
  .languages .wrap-languages {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
  .languages .wrap-languages .programs .lang-round {
    font-size: 22px;
    height: 170px;
    width: 170px;
  }
}

.Contact__Section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 5%;
  overflow: hidden;
}

.Contact__Section::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 503px;
  width: 1057px;
  -webkit-transform: translate(15%, 30%);
          transform: translate(15%, 30%);
  background-repeat: no-repeat;
  background-size: cover;
  background: url(../images/Mobile__Wave.png);
}

.Contact__Section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #8745f870;
  z-index: -1;
}

.Contact__Section .Contact__Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.Contact__Section .Contact__Div-Left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 8% 0 8% 5%;
  margin-bottom: 25px;
}

.Contact__Section .Contact__Div-Left .Content {
  width: 350px;
  margin-bottom: 15px;
}

.Contact__Section .Contact__Div-Left .Content h4 {
  margin: 0 auto;
  font-size: 3.2rem;
  font-family: "Caveat", cursive;
  color: #ffffff;
}

.Contact__Section .Contact__Div-Left .Content p {
  padding-right: 6%;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #fffffff6;
}

.Contact__Section .Contact__Div-Left .Social__Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contact__Section .Contact__Div-Left .Social__Icons .Icons__Box {
  margin: 0 18px 0 0;
  cursor: pointer;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border: none;
  outline: none;
  background-color: #8547c2;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 9px inset rgba(255, 255, 255, 0.65), 5px 5px 10px rgba(0, 0, 0, 0.41);
          box-shadow: 4px 4px 9px inset rgba(255, 255, 255, 0.65), 5px 5px 10px rgba(0, 0, 0, 0.41);
}

.Contact__Section .Contact__Div-Left .Social__Icons .Icons__Box .fa-brands {
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Contact__Section .Contact__Div-Left .Social__Icons .Icons__Box:hover .fa-brands {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.56));
          filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.56));
}

.Contact__Section .Contact__Div main {
  display: none;
}

.Contact__Section .Contact__Div main .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Contact__Section .Contact__Div main .Icons .fa-solid {
  margin: 18px 0;
  font-size: 1.2rem;
  -webkit-filter: drop-shadow(1px 1px 8px rgba(131, 9, 251, 0.94));
          filter: drop-shadow(1px 1px 8px rgba(131, 9, 251, 0.94));
}

.Contact__Section .Contact__Div-right form {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.14);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 11px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  -webkit-backdrop-filter: blur(18px);
  width: 350px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contact__Section .Contact__Div-right form .TextBox__Div {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0 5px;
}

.Contact__Section .Contact__Div-right form .TextBox__Div label {
  font: 1.1rem "Noto Serif", serif;
  letter-spacing: 1.2px;
  color: #b894db;
  font-weight: 550;
  margin-bottom: 5px;
}

.Contact__Section .Contact__Div-right form .TextBox__Div input,
.Contact__Section .Contact__Div-right form .TextBox__Div textarea {
  padding: 5px;
  height: 40px;
  font: 1rem "Poppins", sans-serif;
  letter-spacing: 1.2px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  color: #ffffff;
}

.Contact__Section .Contact__Div-right form .TextBox__Div textarea {
  height: 110px;
  resize: none;
  font-size: 1rem;
  scrollbar-width: 0;
}

.Contact__Section .Contact__Div-right form .TextBox__Div textarea::-webkit-scrollbar {
  width: 0;
}

.Contact__Section .Contact__Div-right form .Btn__Send {
  position: relative;
  margin: 10px auto;
  font-weight: 550;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-family: Verdana, sans-serif;
  border: none;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff40;
  background-color: #b894db;
}

.Contact__Section .Contact__Div-right form .Btn__Send::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  border-radius: 6px;
  background-color: #b894db;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@media screen and (min-width: 508px) {
  .Contact__Section::before {
    -webkit-transform: translate(25%, 20%);
            transform: translate(25%, 20%);
  }
}

@media screen and (min-width: 768px) {
  .Contact__Section::before {
    -webkit-transform: translate(5%, 10%);
            transform: translate(5%, 10%);
  }
  .Contact__Section::after {
    height: 400px;
    width: 400px;
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
  }
  .Contact__Section .Contact__Div-Left {
    padding: 8% 0 8% 10%;
  }
  .Contact__Section .Contact__Div-Left .Content {
    width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .Contact__Section {
    padding: 15px 5%;
  }
  .Contact__Section::before {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .Contact__Section::after {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
  }
  .Contact__Section .Contact__Div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Contact__Section .Contact__Div-Left {
    padding: 8% 0;
    -webkit-box-flex: 3;
        -ms-flex: 3 3 150px;
            flex: 3 3 150px;
  }
  .Contact__Section .Contact__Div-Left .Content {
    margin-bottom: 15px;
  }
  .Contact__Section .Contact__Div-Left .Content h4 {
    font-size: 4rem;
    font-family: "Caveat", cursive;
    color: rgba(255, 255, 255, 0.85);
  }
  .Contact__Section .Contact__Div-Left .Content p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.55);
  }
  .Contact__Section .Contact__Div main {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Contact__Section .Contact__Div-right {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.project-section {
  padding: 5% 15px;
}

.project-section h5 {
  font: 600 2rem "Montserrat", sans-serif;
  color: #c940b2;
  margin-bottom: 3%;
}

.project-section p {
  font: 1.1rem "Poppins", sans-serif;
  word-break: break-all;
}

.project-section .wrap-projects {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-section .wrap-projects .projects {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  border-bottom: 3px solid rgba(235, 183, 226, 0.14);
}

.project-section .wrap-projects .projects .description {
  margin-bottom: 2rem;
}

.project-section .wrap-projects .projects .wrap-link {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}

.project-section .wrap-projects .projects .wrap-link .project-image {
  height: 180px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.project-section .wrap-projects .projects .wrap-link::after {
  content: "";
  bottom: 0;
  left: 0;
  height: 0;
  position: absolute;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.project-section .wrap-projects .projects .wrap-link .git-link {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  z-index: 1;
  opacity: 0;
  font: 600 1.4rem "Poppins", sans-serif;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.project-section .wrap-projects .projects .wrap-link .git-link .fa-brands {
  color: rgba(255, 255, 255, 0.95);
}

.project-section .wrap-projects .projects .wrap-link .git-link a {
  word-break: break-all;
  color: var(--text-75);
  color: #8547c2;
}

.project-section .wrap-projects .projects .wrap-link:hover::after {
  content: "";
  inset: auto 0 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.84);
  position: absolute;
}

.project-section .wrap-projects .projects .wrap-link:hover > .git-link {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.project-section .wrap-projects .projects h4 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font: 550 1.4rem "Montserrat", sans-serif;
  color: #c940b2;
  margin-bottom: 10px;
  padding-left: 8px;
  position: relative;
}

.project-section .wrap-projects .projects h4::before {
  content: "";
  inset: 0;
  position: absolute;
  background: #ebb7e2;
  width: 3px;
  border-radius: 5px;
}

@media screen and (min-width: 640px) {
  .project-section .wrap-projects .projects {
    width: 70%;
  }
  .project-section .wrap-projects .projects .wrap-link .project-image {
    height: 240px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .project-section .Project__Description {
    width: 85%;
  }
  .project-section .wrap-projects .projects {
    width: 55%;
  }
  .project-section .wrap-projects .projects .wrap-link .project-image {
    height: 240px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .project-section {
    position: relative;
  }
  .project-section .Project__Description {
    width: 72%;
  }
  .project-section .wrap-projects {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 5%;
    -ms-grid-columns: (400px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 25px;
  }
  .project-section .wrap-projects .projects {
    height: 430px;
    width: 100%;
  }
  .project-section .wrap-projects .projects .wrap-link .project-image {
    height: 240px;
    width: 100%;
  }
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-75);
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}

.dark {
  --primary-color: #292929;
  --text-50: rgba(255, 255, 255, 0.45);
  --text-75: rgba(255, 255, 255, 0.95);
}

.top-bar {
  padding: 5% 7%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #c940b2;
  padding-left: 4px;
  font: 700 2rem "Caveat", cursive;
}

a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: rgba(255, 255, 255, 0.45);
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
}

nav.open {
  visibility: visible;
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #333;
  list-style-type: none;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

nav .nav-list.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .nav-list .nav-item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

nav .nav-list .nav-item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .nav-list .nav-item.active > a {
  color: #c940b2;
}

nav .nav-list .nav-item .nav-link {
  display: inline-block;
  text-transform: uppercase;
  padding: 2rem 0;
  font: 550 2rem "Noto Serif", serif;
  letter-spacing: 1.2px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

nav .nav-list .nav-item:not(.active) .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nav-list .nav-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.nav-list .nav-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.nav-list .nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.nav-list .nav-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
/*# sourceMappingURL=style.css.map */